{% extends "main/layout.html" %}

{% block title %}Регистрация{% endblock title %}

{% block content %}
<h1 class='welcome'>Создание Аккаунта</h1>
<div class='register'>
<form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.username.errors }}
        {{ form.username }}

        {{ form.email.errors }}
        {{ form.email }}

        {{ form.password1.errors }}
        {{ form.password1 }}

        {{ form.password2.errors }}
        {{ form.password2 }}

        {% if form.is_bound %}
</div>
            <div class="alert alert-danger">
                Пожалуйста, исправьте ошибки ниже.
            </div>
        {% endif %}
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>


{% endblock content %}
