{% extends "main/layout.html" %}

{% block title %}Главная страница{% endblock title %}

{% block content %}
<h1 class='welcome'>Добро пожаловать на главную страницу!</h1>

<div class="card-container">
    <div class="card">
        <h2>Список фильмов</h2>
        <p>Посмотри, что добавили другие. Полная коллекция фильмов.</p>
    </div>
    <div class="card">
        <h2>Добавить фильмы</h2>
        <p>Загрузи свой любимый фильм в базу. Делись контентом!</p>
    </div>
    <div class="card">
        <h2>Аккаунт</h2>
        <p>Управляй своим профилем, оценками и избранным.</p>
    </div>
    <div class="card">
        <h2>О сайте</h2>
        <p>Узнай больше о проекте и нашей команде энтузиастов.</p>
    </div>
</div>
{% endblock content %}
